function fillForm() {
  const newCollectionInput = document.getElementById("collection_name")
  const container = document.querySelector(".collection-modal-container")
  const nextHeart = document.querySelector("#heart-toggle");
  // const linkOfNextHeart = nextHeart.getAttribute('href').split('/')[2];
  let html;
  // console.log(newCollectionInput)
  // console.log(container)
  // console.log(nextHeart)
  // console.log(linkOfNextHeart)
  if (window.location.href.endsWith('meals') || window.location.href.endsWith('Search')) {
      // const nextHeart = document.querySelector("#heart-toggle");
      const linkOfNextHeart = nextHeart.getAttribute('href').split('/')[2];
      // console.log(linkOfNextHeart);
      html = `<div class='collection row d-flex justify-content-between m-3 py-2 px-3'>
      <h5 class="my-auto" style="font-weight: normal; color: gray;">${newCollectionInput.value}</h5>
      <a class='index-heart-toggle my-auto heart-toggle-<%= @collection.id %>' href='/meals/${linkOfNextHeart}/pins?collection_id=<%= @collection.id %>' data-controller="pins" data-method="post" data-remote="true">
      <i class='index-heart-toggle far fa-heart'></i>
      </a>
      </div>`
  } else {
    html = `<div class='collection row d-flex justify-content-between m-3 py-2 px-3'>
      <h5 class="my-auto" style="font-weight: normal;">${newCollectionInput.value}</h5>
      <a class='index-heart-toggle my-auto heart-toggle-<%= @collection.id  %>' href='/meals/${window.location.href.split('/')[4]}/pins?collection_id=<%= @collection.id %>' data-controller="pins" data-method="post" data-remote="true">
      <i class='index-heart-toggle far fa-heart'></i>
      </a>
      </div>
    `
  }
  container.insertAdjacentHTML('afterbegin', html)

  newCollectionInput.value = "";
}


<% if @collection.errors.any? %>
  refreshForm('<%= j render "collections/form", collection: @collection %>');
<% else %>
  fillForm();

<% end %>

// heart-toggle-<%= @collection.id'
