


<!-- TRANSPARENT NAVBAR -->

<nav class="navbar navbar-light navbar-expand-lg fixed-top navbar-mealscope-transparent">

        <%= link_to image_tag("logo-white.png"), root_path, class: "navbar-brand"%>

 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse mx-3" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item mx-3">
          <%= link_to "Sign Up", root_path, class: "nav-link" %>|
          <%= link_to "Login", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
            <%= image_tag 'person-placeholder.jpg' , class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Profile", root_path, class: "dropdown-item" %>
            <hr class="mx-auto mt-1 mb-0 p-0 d-flex" style="width: 75%;">
            <%= link_to "Dashboard", root_path, class: "dropdown-item" %>
            <hr class="mx-auto mt-1 mb-0 p-0 d-flex" style="width: 75%;">

            <%= link_to "Log out", root_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
    </ul>
  </div>


</nav>
