<nav class="navbar navbar-light navbar-expand-lg sticky-top navbar-mealscope-color">

        <%= link_to image_tag("logo-black.png"), meals_path, class: "navbar-brand"%>

 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

<div class="search-and-filter">
 <!--  SEARCH  -->
    <form class="example" action="/meals">
      <input type="text" name="query" class="sinput">
      <button type="submit" class="loopicon"><i class="fa fa-search"></i></button>
    <!--   SEARCH -->

<div>
        <a data-toggle="modal" data-target="#filter-modal">
              Filter
        </a>
</div>
  </div>




    <!-- ADD A MEAL BUTTON -->
      <div class="addamealbtn">
          <%= link_to "Add a Meal", new_meal_path, class: "addamealbtn" %>
      </div>


<!-- ADD A MEAL END -->

<!-- NAV BAR -->

  <div class="collapse navbar-collapse mx-3" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <% unless current_user.avatar.blank? %>
            <%= cl_image_tag current_user.avatar , class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= image_tag 'person-placeholder.jpg' , class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Profile", profile_path, class: "dropdown-item" %>
            <hr class="mx-auto mt-1 mb-0 p-0 d-flex" style="width: 75%;">
            <%= link_to "Dashboard", dashboard_path, class: "dropdown-item" %>
            <hr class="mx-auto mt-1 mb-0 p-0 d-flex" style="width: 75%;">

            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item mx-3">
          <a class="nav-link" data-toggle="modal" data-target="#loginNavbarModal">
              Log In |
          </a>

          <a class="nav-link" data-toggle="modal" data-target="#signupNavbarModal">
              Sign Up
          </a>

        </li>
      <% end %>
    </ul>
  </div>
</nav>


 <div class="modal" id="filter-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog-filters" role="document">
    <div class="modal-content-filters">
      <div class="modal-header">
        <h5 class="modal-title">Select some filters</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-body-filters">


                  <!--  </div>
            </div> -->
      <h4>Cuisines</h4>
        <hr class="mx-auto mt-1 mb-1" style="width: 33%;">
        <div class="form-check form-checkboxes-4 cuisine-list">
        <% CuisineTag::CUISINE_TAG.each do |tag| %>
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            <%= tag %>
            </label>
          <% end %>
        </div>


        <h4>Dietary Restrictions</h4>
          <hr class="mx-auto mt-1 mb-1" style="width: 33%;">
      <div class="form-check form-checkboxes-4 diet-list">
        <% DietTag::DIET_TAG.each do |tag| %>
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            <%= tag %>
            </label>
          <% end %>
        </div>

        <h4>Types of Meals</h4>
          <hr class="mx-auto mt-1 mb-1" style="width: 33%;">
        <div class="form-check form-checkboxes-2 meal-list">
        <% MealType::MEAL_TYPE.each do |tag| %>
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            <%= tag %>
            </label>
          <% end %>
        </div>

        <button type="submit" class="loopicon"><i class="fa fa-search"></i></button>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Apply filters</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  </div>



  <div class="modal fade" id="loginNavbarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog-navbar" role="document">
      <div class="modal-content-navbar">
        <div class="modal-header">
          <%= simple_form_for(User.new, as: :user, url: user_session_path, html: { id: "login-form" }) do |f| %>
          <div class="form-inputs" id="login">
            <h3> Login </h3>
            <br>
          <%= f.input :email,
                          required: false,
                          autofocus: true,
                          input_html: { autocomplete: "email", id: "login-email" } %>
              <%= f.input :password,
                          required: false,
                          input_html: { autocomplete: "current-password", id: "login-password" } %>
              <%= f.input :remember_me, as: :boolean %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Log in", class: "btn btn-outline-dark btn-lg" %>
            </div>

            <div class="linkstoother">
              <%= link_to "Sign Up", new_user_registration_path, class: "nav-link-login" %>
              <%= link_to "Forgot your password?", user_registration_path, class: "nav-link-login" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
 </div>

  <div class="modal fade" id="signupNavbarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content-navbar">
        <div class="modal-header">
          <%= simple_form_for(User.new, as: :user, url: user_registration_path, method: :post, html: { id: "signup-form" }) do |f| %>
          <div class="form-inputs" id="login">
            <h3> Sign Up </h3>
            <br>
          <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email", id: "signup-email" }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password", id: "signup-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Sign Up", class: "btn btn-outline-dark btn-lg" %>
            </div>

            <div class="linkstoother">
              <%= link_to "Sign Up", new_user_registration_path, class: "nav-link-login" %>
              <%= link_to "Forgot your password?", user_registration_path, class: "nav-link-login" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
 </div>

 <!-- END NAV BAR -->

