

<form id="navbar-form" action="/meals" method="get">
      <h4>Cuisines</h4>
        <hr class="mx-auto mt-1 mb-1" style="width: 33%;">
        <div class="form-check form-checkboxes-6 cuisine-list">
        <% CuisineTag::CUISINE_TAG.each do |tag| %>
        <div class="form-groups">
          <input class="form-check-input" name="cuisine_tags[]" type="option" value="<%= tag %>">
                  <label class="form-check-label" for="<%= tag %>">
                  <%= tag %>
            </label>
        </div>
          <% end %>
        </div>

        <h4>Dietary Restrictions</h4>
          <hr class="mx-auto mt-1 mb-1" style="width: 33%;">
      <div class="form-check form-checkboxes-4 diet-list">
        <% DietTag::DIET_TAG.each do |tag| %>
        <div class="form-groups">
          <input class="form-check-input" name="diet_tags[]" type="option" value="<%= tag %>">
          <label class="form-check-label" for="defaultCheck1">
            <%= tag %>
            </label>
        </div>
          <% end %>
        </div>

        <h4>Types of Meals</h4>
          <hr class="mx-auto mt-1 mb-1" style="width: 33%;">
        <div class="form-check form-checkboxes-4 meal-list">
        <% MealType::MEAL_TYPE.each do |tag| %>
        <div class="form-groups">
          <input class="form-check-input" name="meal_tags[]" type="option" value="<%= tag %>">
          <label class="form-check-label" for="defaultCheck1">
            <%= tag %>
            </label>
          </div>
          <% end %>
        </div>
        <input type="hidden" id="modal-query-field" name="query" value="<%= @query %>">
           <button id="navbar-form-btn" type="submit" class="loopicon"><i class="fa fa-search"></i></button>

         </form>
      </div>

    </div>
  </div>
  </div>



