<div class="d-flex justify-content my-5">
  <div class="card justify-content-center text-center align-items-column m-auto py-4" style="width: 600px">

      <h1>Add a new meal</h1>

      <%= simple_form_for(@meal, html: { multipart: true }) do |f| %>


        <div class="form-inputs align-items-center m-auto pt-3 " style="width: 75%;">
          <%= f.input :name,
                    label: false,
                    placeholder: 'Name' %>
          <%= f.input :description,
                    label: false,
                    placeholder: 'Description',
                    :as => :text,
                    :input_html => { 'rows' => 5, 'cols' => 10 } %>
          <%= f.input :price,
                    label: false,
                    placeholder: "Price" %>
          <%= f.input :meal_type,
                    collection: Meal::MEAL_TYPE,
                    multiple: :true,
                    include_blank: false,
                    label: false %>
          <%= f.association :diet_meal_tags,
                    collection: DietTag::DIET_TAG,
                    as: :check_boxes,
                    label: false %>
          <%= f.association :cuisine_meal_tags,
                    collection: CuisineTag::CUISINE_TAG,
                    as: :check_boxes,
                    label: false %>
          <%= f.submit %>

      <% end %>

  </div>
</div>
</div>

