<div class="container-profile mb-5" style="width: 60%" >

  <div class="profile-header">

    <i class="fas fa-plus-circle"></i>
    <%= image_tag 'chicken.svg' , class: "img" %>
  </div>

  <div class="profile-body mx-auto" style="">
    <div class='d-flex justify-content-center mx-auto'>


      <%= simple_form_for(@meal, html: { multipart: true }) do |f| %>
      <div><h2>Add a meal</h2></div>
      <% if @meal.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% @meal.errors.full_messages.each do |msg| %>
          <li style="color: red"><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>


      <div class="form-inputs align-items-center m-auto mx-auto pt-3">
       <%= f.input :restaurant,
       label: false,
       input_html: {class: "opacity-style"},
       collection: Restaurant.all,
       include_blank: 'Select a restaurant' %>
       <%= f.input :name,
       label: false,
       placeholder: 'Name' %>
       <%= f.input :description,
       label: false,
       placeholder: 'Description',
       :as => :text,
       :input_html => { 'rows' => 4, 'cols' => 10 } %>
       <%= f.input :price,
       label: false,
       placeholder: "Price" %>

       <div class="filter-form d-flex flex-column mx-auto" style="margin-bottom: 10px;">
          <h5>Cuisines</h5>


            <div class="mx-0" style="width: 100%;">
            <%= f.association :cuisine_meal_tags,
            label: false,
            placeholder: 'Cuisine',
            collection: CuisineTag::CUISINE_TAG,
            id:"cuisine_addameal_type",
            input_html: { multiple: true, id: "cuisine_addameal_type" },
            legend: false %>
            </div>
      </div>

      <div class="filter-form d-flex flex-column mx-auto" style="margin-bottom: 10px">
          <h5>Dietary restrictions</h5>

            <%= f.association :diet_meal_tags,
            collection: DietTag::DIET_TAG,
            input_html: { multiple: true, id: "diet_restrict_type" },
            id: "diet_restrict_type",
            label: false %>

      </div>


      <div class="filter-form d-flex flex-column mx-auto" style="margin-bottom: 50px">
          <h5>Type of Meal</h5>

            <%= f.association :meal_type_tags,
            collection: MealType::MEAL_TYPE,
            input_html: { multiple: true, id: "meal_addmeal_type" },
            id: "meal_addmeal_type",
            label: false %>

      </div>

      <hr class="mx-auto mt-2 mb-2" style="width: 75%;">
      <div class="photo-input-button"><p>Add some photos 📷 </p></div>
      <%= f.file_field :meal_photos, multiple: true, accept: "image/jpeg, image/jpg, image/gif, image/png", input_html: { name: 'Photos', label: 'Photos' }    %>
      <hr class="mx-auto mt-4 mb-3" style="width: 75%;">
      <div class="mx-auto my-3" style="width: 50%;">
      </div>
      <div class="form-actions">
        <%= f.button :submit, 'Add your meal!' , class: "addamealbtn mb-3", style: "width: 80%;" %>

        <% end %>

      </div>

         <%= link_to "Cancel", url_for(:back), class: "link-color pb-5 mb-5" %>


<!-- UNCOMENT THIS AFTER DEMO (NEEDED FOR LOGO RIGHT) -->
<!--       <div id="credits">Icons made by <a id="credits" href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a id="credits" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
 -->    </div>
  </div>
</div>
</div>

