

<div class="container-fluid">

  <div class="row px-5 container-show-card mx-auto mb-3" style="position: relative;">
    <div class="col-md-7 mt-5">
      <div class="justify-content-between pb-4">
        <div class="row-title d-flex justify-content-between">
          <div class='d-flex' style='width: 550px'>
          <h2 class="my-auto"> <%= @meal.name %> </h2>
          <div class="mt-2 ml-3">
            <a data-toggle='modal' data-target='#heart-modal'
            class='index-heart'><i class='far fa-heart' href="/"></i></a>
          </div>
          </div>
        <div class="stars-avg-rating d-flex justify-content-between" >
          <p style=""><%= @meal.check_rating(@meal.average_rating) %> <%= @meal.display_rating_count(@meal.reviews.count) %></p>
        </div>

        </div>
        <% if @meal.price %>
          <p style="font-size: 20px;">$<%= @meal.price %></p>
          <% end %>

        <!-- # Authorization for editing and deleting meal -->
        <% if current_user == @meal.user  %>
          <div class="icon-font d-flex justify-content-end">
            <button class="btn btn-2 btn-light" type="submit" style="margin-left: 8px">
            <%= link_to 'Edit', edit_meal_path, class: "link-color" %></button>
            <button id="sweet-alert-demo" class="btn btn-danger"><i class="fas fa-trash"></i></button>
            <%= link_to "", meal_path(@meal)  , method: :delete, id:"delete-link", class: "hidden" %>
          </div>
        <% end %>


<!-- MODAL FOR PINS -->
  <div class="modal" id="heart-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog-heart" role="document">
    <div class="modal-content-heart mb-0" >
      <div class="modal-header">
        <h4 class="modal-title py-auto">Add to collection</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left mx-auto mt-3" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        <h6 class="my-auto" style="width: 80%; font-size: 20px;">  <a>
    <i class="fas fa-plus mx-1"></i> Create a new collection
  </a></h6>
  <div class="collapse add-collection" id="collapseExample" style="border: none">
  <div class="card card-body card-body-new-collection">

    <%= render 'collections/form', collection: @collection %>

  </div>

</div>
</div>
    <div class='collection-modal-container' id="collections">
      <% current_user.collections.reverse.each do |c| %>
        <div class="collection row d-flex justify-content-between m-3 py-2 px-3">
          <h5 class="my-auto" style="font-weight: normal;"> <%= c.name %></h5>

        <%# link_to meal_pins_path do %> <!-- need to bring in meal_id for path -->
          <a id = "#heart-toggle" class='index-heart-toggle py-auto my-auto heart-toggle-<%= c.id %>' href="/meals/<%= params[:id] %>/pins?collection_id=<%= c.id %>" data-controller="pins" data-method="post" data-remote="true"><i class='far fa-heart'></i></a>
        <%# end %>

        </div>
      <% end %>
    </div>
    <div class="modal-footer justify-content-center my-auto mb-0">
      <button type="button" class="my-auto py-2 px-5" style="border-radius: 4px; margin-top: 18px;" data-dismiss="modal" id="button">Done</button>
    </div>
    </div>
  </div>
</div>


<!--         <div class="rating-block">
          <h4 class="bold padding-bottom-7">
            <span class="<%#= @meal.class_colors %>"><%#= @meal.average_rating %></span><small>/ 5</small></h4>
        </div> -->

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <% count = @meal.mealphotos.count %>
          <% if count > 1 %>
          <% item = 1 %>
          <% while item <= count %>
            <li data-target="#carouselExampleIndicators" data-slide-to='#{item}'></li>
            <% item+=1 %>
            <% end %>
            <% end %>
        </ol>
          <div class="carousel-inner">

            <div class="carousel-item active">
              <%= cl_image_tag @meal.mealphotos[0].photo, class: "d-block w-100", style: "width:100%; height: 60vh" , crop: :fill %>
            </div>
              <% @meal.mealphotos[1..-1].each do |c| %>
              <div class="carousel-item">
                <%= cl_image_tag c.photo, class: "d-block w-100", style: "width:100%; height: 60vh" , crop: :fill; %>
              </div>
            <% end %>
          </div>
            <% if count > 1 %>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
          <% end %>

        </div>
      </div>
      <div class="filter-container ml-0">
        <p><% @meal.cuisine_tags.each do |cuisine| %>
          <%= link_to cuisine.name, meals_path(query: cuisine.name), class: "btn btn-hover cuisine-taggy" %>
          <% end %>
          <% @meal.diet_tags.each do |diet| %>
          <%= link_to diet.name, meals_path(query: diet.name), class: "btn btn-hover cuisine-taggy" %>
          <% end %>
        </p>
      </div>

<!-- Review form -->



<!-- Review form end -->
    <div class="container-review mt-3">
      <div class="row-review">
        <div class="col-xs-4">
          <h3>Leave a review!</h3>
          <%= simple_form_for ([@meal, @review]) do |f| %>
            <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience" %>
            <%= f.input :content, label: false, placeholder: "Say something...", class: "form-review" %>
            <%= f.file_field :meal_photos, multiple: true, accept: "image/jpeg, image/jpg, image/gif, image/png"  %>
            <div>
            <%= f.submit "Submit", class: "btn btn-outline-danger mt-3", id: "button", style: "border-radius: 4px;" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="nav-tabs-reviews p-2 my-3">
      <% if @meal.reviews.count > 0 %>
      <h4>Comments</h4>
      <div class="tab-content">
        <div class="tab-pane fade show active">
          <!-- review 1 -->
          <% @meal.reviews.each do |r| %>
            <div class="review mt-0">
            <!-- box avatar/name + rating overall -->
              <div class='review-top d-flex justify-content-between border-shadow mt-0 pt-0 mb-2'>
              <!-- box avatar and name -->
                <div class="avatar-name d-flex justify-content-start ">
                  <%= cl_image_tag(r.user.avatar.url, class: "avatar-review" ) %>

                  <p class="my-auto ml-3"> <%= r.user.first_name %>
                    <i style="color: blue" class="fas fa-medal"></i>
                  </p>

                </div>

                <div class="my-auto" style="color: yellow">
                  <p> <%= r.display_ratings %></p>
                </div>

              </div>
              <% if r.content != "" %>
              <em> "<%= r.content %>"</em>
              <% end %>
            </div>

          <% end %>

          <!-- # Need to add review edit/delete buttons  -->
 <!--  -->
          <!-- review 2 -->
          <!-- implement review -->
        </div>
      </div>
       <% end %>
    </div>
  </div>

    <div class="row ml-2 pl-2" id="back-icon" style="position: absolute; top: 22px; right: 46px;">
  <%= link_to url_for(:back), class: "link-color" do %> <p style="" align="right"><i class="fas fa-times"></i></p> <% end %>
</div>
  <div class="col-md-5 justify-content-between pb-4 mt-5 pt-0">
    <div class="instagram-container">
    <div class="row-title-resto">
      <div>
      <h2><%= @meal.restaurant.name %></h2>
        <tr><td><p class="location my-1" style="width: 70%"><i class="fas fa-map-marker-alt" style="color: #e26757;"></i> <%= @meal.restaurant.address %></p></td></tr>
        <div class="d-flex justify-content-between">
        <p><%= link_to nil, @meal.restaurant.website_url, class: "link-color", :target => "_blank" %></p>
        <p><%= link_to "@#{@meal.restaurant.instagram_handle}", "http://instagram.com/#{@meal.restaurant.instagram_handle}", class: "link-color", :target => "_blank" %></p>
        </div>
        </div>
    </div>
      <div class="cards-resto">
        <% @photos.each do |photo| %>
          <%= image_tag photo %>
        <% end %>
      </div>
    </div>
    <div>
       <div class="other-meals-container ml-4">


      <!-- Loop Logic for 3 Sample Meal -- Make sure that 3 other meals from restaurant are not the primary meal displayed
        and are 3 unique meals -->
        <% primary_meal = [] %>
        <% primary_meal << @meal %>
        <% selected = [] %>
        <% m1 = (@restaurant_meals - primary_meal).sample %>
        <% selected << m1 %>
        <% m2 = (@restaurant_meals - selected - primary_meal).sample%>
        <% selected << m2 %>
        <% m3 = (@restaurant_meals - selected - primary_meal).sample%>
        <% selected << m3 %>


        <!-- Displaying 3 other meals from this restaurant -->
      <% if m1 %>
        <div class="restaurant-name-container">
          <h4>Check out some of <%= @meal.restaurant.name %>'s other top dishes.</h4>
        </div>
          <%= link_to(m1) do %>
        <div class="card-trip">
            <%# m1 = @restaurant_meals.sample %>
            <% m1 = selected[0] %>
            <%= cl_image_tag m1.mealphotos[0].photo, height: 300, width: 400 %>
        <div class="card-trip-infos">
          <div>
            <h2><%= m1.name %></h2>
            <p><%= m1.restaurant.name %></p>
          </div>
          <h2 class="card-trip-pricing"><% m1.price %></h2>
        </div>
      </div>
        <% end %>
      <% elsif m2 %>
          <%= link_to(m2) do %>
         <div class="card-trip">
            <% m2 = selected[1] %>
            <%= cl_image_tag m2.mealphotos[0].photo, height: 300, width: 400 %>
        <div class="card-trip-infos">
          <div>
            <h2><%= m2.name %></h2>
            <p><%= m2.restaurant.name %></p>
          </div>
          <h2 class="card-trip-pricing"><% m2.price %></h2>
        </div>
      </div>
        <% end %>
      <% elsif m3 %>
      <%= link_to(m3) do %>
       <div class="card-trip">
            <% m3 = selected[2] %>
        <%= cl_image_tag m3.mealphotos[0].photo, height: 300, width: 400 %>
        <div class="card-trip-infos">
          <div>
            <h2><%= m3.name %></h2>
            <p><%= m3.restaurant.name %></p>
          </div>
          <h2 class="card-trip-pricing"><% m3.price %></h2>
        </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>

</div>

<script>
  // JavaScript for label effects only
  $(window).load(function(){
    $(".col-3 input").val("");
    console.log($(".col-3 input"))

    $(".input-effect input").focusout(function(){
      console.log($(".input-effect input"))
      if($(this).val() != ""){
        $(this).addClass("has-content");
      }else{
        $(this).removeClass("has-content");
      }
    })
  });
</script>



