
<div class="d-flex justify-content my-5">
  <div class="card justify-content-center text-center align-items-column m-auto py-4" style="width: 600px">

      <h1>Add your restaurant</h1>

      <%= simple_form_for(@restaurant, html: { multipart: true }) do |f| %>


        <div class="form-inputs align-items-center m-auto pt-3 " style="width: 75%;">
          <%= f.input :name,
                    label: false,
                    placeholder: 'Name' %>
          <%= f.input :address,
                    label: false,
                    placeholder: 'Address'%>
         <%= f.input :website_url,
                    label: false,
                    placeholder: 'Website'%>
<!--          <%#= f.input :instagram_handle,
                    label: false,
                    placeholder: 'Instagram (@username)'%> -->
          <hr class="mx-auto mt-4 mb-3" style="width: 75%;">
          <div class="mx-auto my-3" style="width: 50%;">
          </div>
          <div class="form-actions">
          <%= f.button :submit, 'Create restaurant' , class: "btn btn-warning home-button btn-lg btn-block", style: "width: 100%;" %>
          </div>
        </div>
      <% end %>
  </div>
</div>

